.button {
  padding: 0 48px;
  font-size: 14px;
  line-height: 46px;
  border-radius: 25px;
  border: 2px solid #fff;
  background: none;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  &--black {
    border-color: #000;
    color: #000;
  }
  &--lg {
    font-size: 16px;
    line-height: 56px;
    border-radius: 30px;
  }
}
