.contact {
  max-width: 560px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 16px;
}
@include sp {
  .contact {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
  }
}
.contact__label {
  text-align: right;
  padding-top: 10px;
  display: block;
}
@include sp {
  .contact__label {
    text-align: left;
    padding-top: 0;
  }
}
.contact__footer {
  grid-column: 2/3;
  margin-top: 16px;
}
@include sp {
  .contact__footer {
    grid-column: 1/2;
  }
}
