.hero {
  background: center/cover;
  padding: 280px 0;
  color: #fff;
  .webp & {
    background-image: url("/assets/images/hero.webp");
  }
  .no-webp & {
    background-image: url("/assets/images/hero.jpg");
  }
  &__message {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
    line-height: 1.8;
  }
}
