.hero {
  background: center/cover url(/assets/images/hero.jpg);
  padding: 280px 0;
  color: #fff;
  &__message {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
    line-height: 1.8;
  }
}
