.footer {
  padding: 16px;
  border-top: 1px solid rgba(0, 0, 0, .12);
  font-size: 12px;
  color: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: space-between;
}
@include sp {
  .footer {
    display: block;
  }
}
.footer-nav {
  display: flex;
}
@include sp {
  .footer-nav {
    display: block;
    line-height: 1.8;
    margin-bottom: 16px;
  }
}
.footer-nav__item + .footer-nav__item:before {
  content: "|";
  margin: 0 8px;
}
@include sp {
  .footer-nav__item + .footer-nav__item:before {
    display: none;
  }
}
