.footer {
  padding: 16px;
  border-top: 1px solid rgba(0, 0, 0, .12);
  font-size: 12px;
  color: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: space-between;
  @include sp {
    display: block;
  }
}
.footer-nav {
  display: flex;
  @include sp {
    display: block;
    line-height: 1.8;
    margin-bottom: 16px;
  }
  &__item + &__item:before {
    content: "|";
    margin: 0 8px;
    @include sp {
      display: none;
    }
  }
}
